<ul id="left-nav"class="nav nav-list">   
	<li class="nav-header">Grant Manager</li>   
	<li id="main-leftNav-li"><a href="/main.html"><i class="icon-home"></i>Home</a></li>   
	{{#areas}}   
	<li id="{{id}}-leftNav-li">   
		<a href="{{path}}">   
			<i class="glyphicon {{icon}}"></i>   
				{{title}}   
		</a>   
	</li>   
	{{/areas}}
</ul> 